{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Chores</h2>

    <section id="chores">

        {% for chore in chores %}

            
            <div class="chore">
                <h3>{{chore.priority}}</h3>
                <h3>{{ chore.chore_name }}</h3>
                {# ASK MR COPLEY ABOUT THISSS HOW DO I GET FOREIGN TABLE INNN#}
                <p>Person: <strong>{{ chore.person_name }}</strong></p>
                <p>Done: <strong>{{ chore.done }}</strong></p>
                <p><a href="/{{ chore.id }}/delete">Delete</a></p>
 

            </div>

        {% else %}

            <p>No Chores!</p>

        {% endfor %}

    </section>

{% endblock %}

