{% extends 'pages/_base.jinja' %}

{% block content %}

    <h2>Add a chore</h2>

    <form method="post" action="/choreform">
        <label>


            Name
            <input type="text" chore.chore_name="name" required>
        
        </label>

        <label>

            Person name
            <input type="text" person_name="person" required>

        </label>
         <label>

            Priority
            <input type="int" chore.priority="priority" required>

        </label>



        <button>Add Chore</button>
        
    </form>

{% endblock %}