{% extends 'pages/_base.jinja' %}

{% block content %}

    <h2>Add a chore</h2>

    <form method="post" action="/choreform/new">
        <label>


            Name
            <input type="text" name="name" required>
        
        </label>

        <label>

            Person id number
            <input type="int" person="person" required>

        </label>
         <label>

            Priority
            <input type="int" priority="priority" required>

        </label>

        <label>

            Done?
            <input type="int" done="done" required>

        </label>

        <button>Add Chore</button>
        
    </form>

{% endblock %}