{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Chores</h2>

    <section id="chores">

        {% for chore in chores %}

            

        {% else %}

            <p>No Chores!</p>

        {% endfor %}

    </section>

{% endblock %}

